<div class="alert @TempData["AlertType"] alert-dismissible fade show" style="display:none;">
    <button type="button" class="close" aria-label="Close" data-dismiss="alert">
        <span aria-hidden="true">×</span>
    </button><i class="ion-android-done-all"></i>&nbsp;
    @TempData["AlertMessage"]
</div>

